<!-- Nav -->
<div id="top-gradient" class="bg-white d-md-none">
    <div class="bg-spectrum"></div>
</div>
<div id="nav" class="bebas-neue bg-white">
    <div class="container-fluid">
        <div class="row">
            <div id="logo" class="col-lg-3">
                <a href="https://spectrumistechnology.com/" title="Spectrum Technologies">
                    <img src="assets/logo.svg" alt="Spectrum Technologies">
                </a>
                <div id="nav-button" class="d-md-none">
                    <div class="hamburger-menu">
                        <span class="top"></span>
                        <span class="middle"></span>
                        <span class="bottom"></span>
                    </div>
                </div>
            </div>
            <div id="nav-container" class="col-lg-9 d-none d-md-block">
                <ul id="nav-menu">
                    <li class="text-about">

                        <a href="https://spectrumistechnology.com/about" title="About Us" class="">About Us</a>

                        <div id="about" class="mega-menu">
                            <div class="menu-icon remove-padding">
                                <img src="assets/about-menu-icon.svg" alt="About Us">
                            </div>
                            <div class="menu-content">

                                <a href="https://spectrumistechnology.com/about" title="About Us"
                                    class="title-link">About Us</a>

                                <ul>
                                    <li>

                                        <a href="https://spectrumistechnology.com/about/our-story" title="Our Story"
                                            class="proxima-nova">Our Story</a>

                                    </li>
                                    <li>

                                        <a href="https://spectrumistechnology.com/about/leadership" title="Leadership"
                                            class="proxima-nova">Leadership</a>

                                    </li>
                                    <li>

                                        <a href="https://spectrumistechnology.com/about/team" title="Team"
                                            class="proxima-nova">Team</a>

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="">

                        <a href="https://spectrumistechnology.com/printers-copiers" title="Printers &amp; Copiers"
                            class="">Printers &amp; Copiers</a>

                        <div id="printers-copiers" class="mega-menu">
                            <div class="menu-icon remove-padding">
                                <img src="assets/printers-copiers-menu-icon.svg" alt="Printers &amp; Copiers">
                            </div>
                            <div class="menu-content">

                                <a href="https://spectrumistechnology.com/printers-copiers"
                                    title="Printers &amp; Copiers" class="title-link">Printers &amp; Copiers</a>

                                <ul>
                                    <li>

                                        <a href="https://spectrumistechnology.com/printers-copiers/managed-print-services"
                                            title="Managed Print Services" class="proxima-nova">Managed Print
                                            Services</a>

                                    </li>
                                    <li>

                                        <a href="https://spectrumistechnology.com/printers-copiers/printers-mfp"
                                            title="Printers &amp; MFP" class="proxima-nova">Printers &amp; MFP</a>

                                    </li>
                                    <li>

                                        <a href="https://spectrumistechnology.com/printers-copiers/document-capture"
                                            title="Document Capture" class="proxima-nova">Document Capture</a>

                                    </li>
                                    <li>

                                        <a href="https://spectrumistechnology.com/printers-copiers/document-management"
                                            title="Document Management" class="proxima-nova">Document Management</a>

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="">

                        <a href="https://spectrumistechnology.com/it-services" title="IT Services" class="">IT
                            Services</a>

                        <div id="it-services" class="mega-menu">
                            <div class="menu-icon remove-padding">
                                <img src="assets/it-services-menu-icon.svg" alt="IT Services">
                            </div>
                            <div class="menu-content">

                                <a href="https://spectrumistechnology.com/it-services" title="IT Services"
                                    class="title-link">IT Services</a>

                                <ul>
                                    <li>

                                        <a href="https://spectrumistechnology.com/it-services/managed-it-services"
                                            title="Managed IT Services" class="proxima-nova">Managed IT Services</a>

                                    </li>
                                    <li>

                                        <a href="https://spectrumistechnology.com/it-services/cloud-it-solutions"
                                            title="Cloud Solutions" class="proxima-nova">Cloud Solutions</a>

                                    </li>
                                    <li>

                                        <a href="https://spectrumistechnology.com/it-services/hardware-software-procurement"
                                            title="Hardware &amp; Software" class="proxima-nova">Hardware &amp;
                                            Software</a>

                                    </li>
                                    <li>

                                        <a href="https://spectrumistechnology.com/it-services/voip-telephony"
                                            title="VoIP Telephony" class="proxima-nova">VoIP Telephony</a>

                                    </li>
                                    <li>

                                        <a href="https://spectrumistechnology.com/it-services/software-development"
                                            title="Software Development" class="proxima-nova">Software Development</a>

                                    </li>
                                    <li>

                                        <a href="https://spectrumistechnology.com/it-services/it-strategy-consulting"
                                            title="Strategy &amp; Consulting" class="proxima-nova">Strategy &amp;
                                            Consulting</a>

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="">

                        <a href="https://spectrumistechnology.com/marketing" title="Marketing" class="">Marketing</a>

                        <div id="marketing" class="mega-menu">
                            <div class="menu-icon remove-padding">
                                <img src="assets/marketing-menu-icon.svg" alt="Marketing">
                            </div>
                            <div class="menu-content">

                                <a href="https://spectrumistechnology.com/marketing" title="Marketing"
                                    class="title-link">Marketing</a>

                                <div class="sub-menu">
                                    <img src="assets/digital-marketing-menu-icon.svg" alt="Digital Marketing">

                                    <a href="https://spectrumistechnology.com/digital-marketing"
                                        title="Digital Marketing" class="bebas-neue title-link">Digital Marketing</a>

                                    <ul>
                                        <li>
                                            <a href="https://spectrumistechnology.com/digital-marketing/web-design-development"
                                                title="Web Design &amp; Development" class="proxima-nova">Web Design
                                                &amp; Development</a>

                                        </li>
                                        <li>
                                            <a href="https://spectrumistechnology.com/digital-marketing/search-engine-optimization-ppc"
                                                title="Search Engine Optimization &amp; PPC" class="proxima-nova">Search
                                                Engine Optimization &amp; PPC</a>

                                        </li>
                                    </ul>
                                </div>
                                <div class="sub-menu">
                                    <img src="assets/print-marketing-menu-icon.svg" alt="Print Marketing">

                                    <a href="https://spectrumistechnology.com/print-marketing" title="Print Marketing"
                                        class="bebas-neue title-link">Print Marketing</a>

                                    <ul>
                                        <li>
                                            <a href="https://spectrumistechnology.com/print-marketing/dos-services"
                                                title="Commercial Print Materials" class="proxima-nova">Commercial Print
                                                Materials</a>

                                        </li>
                                        <li>
                                            <a href="https://spectrumistechnology.com/print-marketing/dos-services"
                                                title="Booklets &amp; Manuals" class="proxima-nova">Booklets &amp;
                                                Manuals</a>

                                        </li>
                                        <li>
                                            <a href="https://spectrumistechnology.com/print-marketing/dos-services"
                                                title="Scanning &amp; Archiving" class="proxima-nova">Scanning &amp;
                                                Archiving</a>

                                        </li>
                                        <li>
                                            <a href="https://spectrumistechnology.com/print-marketing/dos-services"
                                                title="Wide Format Printing" class="proxima-nova">Wide Format
                                                Printing</a>

                                        </li>
                                        <li>
                                            <a href="http://www.promoplace.com/spectrumtechnologies"
                                                title="Promotional Products" class="proxima-nova"
                                                target="_blank">Promotional Products</a>

                                        </li>
                                        <li>
                                            <a href="https://spectrumistechnology.com/print-marketing/dos-services"
                                                title="Graphic Design" class="proxima-nova">Graphic Design</a>

                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="">

                        <a href="https://spectrumistechnology.com/contact" title="Contact" class="">Contact</a>

                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>