<!-- Footer -->
<div id="footer" class="proxima-nova">
    <div class="bg-light-grey">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-3">
                    <a href="https://spectrumistechnology.com/" title="Spectrum Technologies">
                        <img src="assets/logo-115.svg"
                            alt="Spectrum Technologies" id="footer-logo">
                    </a>
                </div>
                <div id="conversation-section" class="col-md-8 col-lg-6 text-center">
                    <a href="https://spectrumistechnology.com/contact" title="Contact Us - Spectrum Technologies"
                        class="text-uppercase bebas-neue" id="conversation-link">
                        <span class="link-border link-border-top-left"></span>
                        <span class="link-border link-border-top-right"></span>
                        <span class="link-border link-border-right-top"></span>
                        <span class="link-border link-border-right-bottom"></span>
                        Start A Conversation
                        <span class="link-border link-border-bottom-left"></span>
                        <span class="link-border link-border-bottom-right"></span>
                        <span class="link-border link-border-left-top"></span>
                        <span class="link-border link-border-left-bottom"></span>
                    </a>
                    <div id="conversation-info">Call <a class="phone-number font-weight-bold"
                            href="tel:9153020946">(915)&nbsp;302-0946</a> today</div>
                </div>
                <div class="address col-lg-3 text-center">
                    <div class="font-weight-bold bebas-neue"><svg class="svg-inline--fa fa-map-marker-alt fa-w-12"
                            aria-hidden="true" data-prefix="far" data-icon="map-marker-alt" role="img"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" data-fa-i2svg="">
                            <path fill="currentColor"
                                d="M192 0C85.903 0 0 86.014 0 192c0 71.117 23.991 93.341 151.271 297.424 18.785 30.119 62.694 30.083 81.457 0C360.075 285.234 384 263.103 384 192 384 85.903 297.986 0 192 0zm0 464C64.576 259.686 48 246.788 48 192c0-79.529 64.471-144 144-144s144 64.471 144 144c0 54.553-15.166 65.425-144 272zm-80-272c0-44.183 35.817-80 80-80s80 35.817 80 80-35.817 80-80 80-80-35.817-80-80z">
                            </path>
                        </svg><!-- <i class="far fa-map-marker-alt"></i> -->Regional Operations Center</div>
                    5900 Gateway Blvd. E.<br>
                    El Paso, TX 79905
                </div>
            </div>
        </div>
    </div>
    <div class="bg-white">
        <div class="bg-spectrum"></div>
    </div>
</div>