<!-- Page Content -->
<div id="page-content" class="bg-white">
  <div id="page-title" class="separator bg-deep-purple">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="subtitle bg-white text-uppercase">
            <span class="bg-deep-purple"> About Us </span>
          </h2>
          <h1 class="title">Innovating since 1903</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div id="who-we-are" class="row">
      <div class="col-lg-4 col-md-5">
        <div class="about-title bebas-neue">
          <div>
            Who<br />
            We Are
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-md-7">
        <div>
          <p>
            As Spectrum Technologies, we commit to delivering innovative,
            high-quality business technology solutions to our valued customers
            that are competitively-priced and are promptly maintained and
            supported by a caring team dedicated to courtesy and
            professionalism.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div id="about-sep" class="bg-spectrum"></div>
      </div>
    </div>
  </div>

  <div id="about-our-story" class="container aos-init aos-animate" data-aos="fade" data-aos-once="true">
    <div class="row">
      <div class="col-lg-8 col-md-7">
        <p>
          At Spectrum, we are a technology company that cares about people. Yes,
          we help businesses, but at the end of the day, we want to see people
          succeed.
        </p>
        <p>
          We established our company and built our legacy through success and
          trials by providing great customer service. We understand products and
          services will change with time, but our standard of excellence and
          commitment to our customers will never waver. We hope through the
          following timeline you get to know us a little better.
        </p>
        <p>
          We look forward to many more years. Ultimately, we look forward to
          your success.
        </p>
        <a href="https://spectrumistechnology.com/about/our-story"
          class="btn btn-gradient-teal btn-lg btn-arrow"><span>Our Story<svg
              class="svg-inline--fa fa-arrow-right fa-w-14" aria-hidden="true" data-prefix="fal" data-icon="arrow-right"
              role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg="">
              <path fill="currentColor"
                d="M216.464 36.465l-7.071 7.07c-4.686 4.686-4.686 12.284 0 16.971L387.887 239H12c-6.627 0-12 5.373-12 12v10c0 6.627 5.373 12 12 12h375.887L209.393 451.494c-4.686 4.686-4.686 12.284 0 16.971l7.071 7.07c4.686 4.686 12.284 4.686 16.97 0l211.051-211.05c4.686-4.686 4.686-12.284 0-16.971L233.434 36.465c-4.686-4.687-12.284-4.687-16.97 0z">
              </path>
            </svg><!-- <i class="fal fa-arrow-right"></i> --></span></a>
      </div>
      <div class="col-lg-4 col-md-5">
        <div id="badge">
          <img src="About%20Us%20_%20Spectrum%20Technologies_files/115-badge.svg" alt="" />
          <canvas class="particles-js-canvas-el" style="width: 100%; height: 100%;" width="380" height="349"></canvas>
        </div>
      </div>
    </div>
  </div>

  <div id="team-cta" class="call-to-action bg-blue-gradient">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="title">Meet Our Spectrum Family</h2>
          <a href="https://spectrumistechnology.com/about/team" class="btn btn-outline-light">Our Team</a>
        </div>
      </div>
    </div>
  </div>

  <div class="container aos-init aos-animate" data-aos="fade" data-aos-once="true">
    <div id="our-mission" class="row">
      <div class="col-lg-4 col-md-5 order-md-2">
        <div class="about-title bebas-neue text-right">
          <div>
            Our<br />
            Mission
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-md-7 order-md-1">
        <p>
          We are a business technology solutions provider specializing in a wide
          range of products and services including document imaging devices,
          network/IT infrastructure &amp; software, IP telephony systems,
          website development, web promotion, print reproduction services and
          related management and support programs.
        </p>
        <p>
          Our daily mission is to provide technology-based products, services,
          ideas and energy that bring value to our customers and partnering with
          them to make their businesses and organizations more productive,
          efficient and successful.
        </p>
      </div>
    </div>
  </div>
</div>